@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="darkPurple"] {
	/* dark theme styles go here */
	--color-primary: #302863;
	--color-secondary: #8c8cda;
	--color-tertiary: #86cfd0;
	--color-text: #e7e7e7;
}

[data-theme="lightPurple"] {
	--color-primary: #8c8cda;
	--color-secondary: #e0e0ff;
	--color-tertiary: #86cfd0;
	--color-text: #1b1b1b;
}