.vscode/
.env
dev
node_modules
__pycache__
dump/

# Runtime data (written by the app)
client/data/mediamtx.yml
client/settings/settings.json
client/data/health_log.json
client/data/event_log.json
client/data/security-cam.log*
logs/
.install_stamps/
