@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: #f9f9f9;
    text-align: center;
    padding: .5em 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 2em auto;
    padding: 0 20px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

nav {
    width: 20%;
    padding: 2em;
    border-right: 1px solid #eaeaea;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: #f6f6f6;
}

nav ul li.active-tab {
    background-color: #eee;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    color: #333;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2em;
}

/* Form Styling */
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 3em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
}

form input[type="text"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #333;
    color: #f9f9f9;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #555;
}