# Flask backend URL - set this when running the dev server on a different machine than the Pi
# PUBLIC_BACKEND_URL=http://192.168.1.50:5005

# MediaMTX WebRTC URL - set this when running the dev server on a different machine than the Pi
# PUBLIC_MEDIAMTX_URL=http://192.168.1.50:8889
