<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/nav.js"></script>
    <title>Security-Cam Info</title>
</head>

<body>
    <header>
        <h1>Security-Cam Webinterface</h1>
    </header>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li id="nav-live-feed"><a href="./index.html">Live Feed</a></li>
                <li id="nav-settings"><a href="./settings.html">Settings</a></li>
                <li id="nav-info"><a href="./info.html">Info</a></li>
            </ul>
        </nav>



        <section id="content">
            Some info
        </section>
    </div>

</body>

</html>