<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/nav.js"></script>
    <title>Security-Cam Settings</title>
</head>

<body>
    <header>
        <h1>Security-Cam Webinterface</h1>
    </header>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li id="nav-live-feed"><a href="./index.html">Live Feed</a></li>
                <li id="nav-settings"><a href="./settings.html">Settings</a></li>
                <li id="nav-info"><a href="./info.html">Info</a></li>
            </ul>
        </nav>

        <section id="content">
            <!-- This should then be handled by a new route in web_server.py to update config.json mac addresses -->
            <form action="/update_mac_addresses" method="post">
                <label for="bt_addresses">Bluetooth MAC Addresses (comma-separated):</label>
                <input type="text" id="bt_addresses" name="bt_addresses" required>

                <label for="ap_addresses">AP MAC Addresses (comma-separated):</label>
                <input type="text" id="ap_addresses" name="ap_addresses" required>

                <input type="submit" value="Update">
            </form>
        </section>
    </div>

</body>

</html>